# Don't track the content of these folders #
############################################
src/*/lib/
src/*/build
src/*/devel
src/*/install
.*
!.gitignore
src/*/core

# Compiled source #
###################
*.o
*.so

# Packages #
############
*.tar
*.gz
*.zip

# Other #
#########
*.backup
*.old
*.custom
*.run
