# Don't track the content of these folders #
############################################
rrrobot_src/lib/
rrrobot_src/*/build
rrrobot_src/*/devel
rrrobot_src/*/install
.*
!.gitignore

# Compiled source #
###################
*.o
*.so

# Packages #
############
*.tar
*.gz
*.zip

# Other #
#########
*.backup
*.old
*.custom
*.run
