# Don't track the content of these folders #
############################################
src/rrrobot_ws/lib/
src/rrrobot_ws/build
src/rrrobot_ws/devel
src/rrrobot_ws/install
.*
!.gitignore

# Compiled source #
###################
*.o
*.so

# Packages #
############
*.tar
*.gz
*.zip

# Other #
#########
*.backup
*.old
*.custom
*.run
