<?xml version="1.0" ?>
<model>
    <name>Fanuc_robot_arm</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>This was created using parts from a CAD model on GrabCAD</description>
</model>
